.fuente{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
}

h1
{
    @extend .fuente;
    font-weight: 900;
    font-size: 38px; 
    color: rgba(181, 155, 52);    
    text-align: center;
    @media (max-width: 1024px) {
        font-size: 32px;
        @media (max-width: 768px){
            font-size: 28px;
                @media (max-width: 480px){
                    font-size:25px;
                }
        }
    }
}

h2
{
    @extend .fuente;
    font-weight: 800;
    font-size: 30px; 
    color: rgb(181, 155, 52);   
    text-align: center;
    @media (max-width: 1024px) {
        font-size: 26px;
        @media (max-width: 768px){
            font-size: 24px;
                @media (max-width: 480px){
                    font-size:22px;
                }
        }
    }
}

h3
{
    @extend .fuente;
    font-weight: 700;
    font-size: 22px; 
    color: rgb(167, 128, 14);
    text-align: center;
    @media (max-width: 1024px) {
        font-size: 20px;
        @media (max-width: 768px){
            font-size: 18px;
                @media (max-width: 480px){
                    font-size:18px;
                }
        }
    }
}

p
{
    @extend .fuente;
    font-weight: 500;
    font-size: 18px; 
    margin-top: 15px;
    word-spacing: 4px;
    color: rgb(142, 178, 244);
    @media (max-width: 768px){
        font-size: 16px;
        @media (max-width: 480px){
            font-size:14px;
        }
    }
}

.texto{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: rgb(208 170 57);
    @media (max-width: 1024px) {
        font-size: 16px;
         line-height: 26px;
        @media (max-width: 768px){
            font-weight: 500;
            line-height: normal;
                @media (max-width: 480px){
                    font-size:14px;
                }
        }
    }
}

.captionTexto{
    font-weight: 500;
    font-size: 16px;
    color: rgb(142, 178, 244);
}
