/*********** grid ***********/
.novedadesGrid{
    grid-area: novedades;
    h2{
        text-align: left;
      }
}
.eventosGrid{
    grid-area: eventos;   
    h2{
        text-align: left;
      }
}

.home{
    margin-top: 20px;
    display: grid;
    grid-template-areas:
    "novedades  "
    "eventos    ";
    grid-template-columns: 100%;
    gap: 50px;
}
/**************/

.eventos{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.novedades{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.caja{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    width:320px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 186, 0.301);
    border-radius: 5%;
    transition: all 0.1s ease-in-out;
    align-items: center;
    &:hover{
        border: 3px solid rgba(255, 255, 186, 0.689);
        border-radius: 5%;
    }
    h3{
        margin-bottom: 10px;
      }
}


/********** media******/


@media (max-width:768px) {
    .eventos{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .novedades{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
