
.imgTipos{
    grid-area: img-tipos;
    @media (max-width: 768px) {
            width: 80%;
        }
}

.textoTipos1{
    grid-area: texto-tipos1;
}
.textoTipos2{
    grid-area: texto-tipos2;
}
.imgCervezas{
    grid-area: img-cervezas;
    @media (max-width: 768px) {
            display: none;
        }
}

.cervezaTipos{
display: grid;
grid-template-areas:"img-tipos    texto-tipos1      texto-tipos1"
                    "texto-tipos2    texto-tipos2      img-cervezas";
grid-template-columns: 45% auto 40%;
align-items: center;
padding: 30px 50px 30px;
gap: 20px;
@media (max-width: 1024px) {
        display: grid;
        grid-template-areas:"img-tipos          texto-tipos1"
                            "texto-tipos2       img-cervezas";
        grid-template-columns: 50% 50%;
        padding: 30px;
        gap: 20px;
        @media (max-width: 768px) {
                display: flex;
                flex-direction: column;    
            }
        }

}

.imgProductos{
    width: 100%;
}

.imgOpacity{
    opacity: 0.8;
}

@media (max-width: 768px) {
    .descripcion{
       display: none;
    }
}
