/******** nav ************/

nav{
    background: rgb(1,6,10);
    background: linear-gradient(45deg, rgba(1,6,10,1) 50%, rgba(5,26,45,1) 75%, rgba(6,34,56,1) 95%);

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        margin: 0;
        padding-left: 0;
    } 

    li{
        list-style: none;
        justify-items:flex-start;
        padding: 10px 40px 10px;
        a{
            text-decoration: none;
            color: rgb(215, 236, 250);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            transition: all 0.4s ease-in-out;
            &:hover{
                font-weight: 900;
                color: rgb(135, 207, 255);
                font-size: 17px;
            }
        }
    }
    .icono{
        &:hover{
            width: 45px;
            height: 45px;
            @media (max-width: 768px) {
                width: 40px;
                height: 40px;      
            }
            }
    }
        

}

/*********** footer **********************/
footer{
    background: rgb(1,6,10);
    background: linear-gradient(45deg, rgba(1,6,10,1) 50%, rgba(5,26,45,1) 75%, rgba(6,34,56,1) 95%);
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        @media (max-width: 768px){
            flex-direction: column;
        }
    }
   
    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 10px;
       
        a{
            text-decoration: none;
            color: rgb(215, 236, 250);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            transition: all 0.4s ease-in-out;
           
            &:hover{
                font-weight: 900;
                color: rgb(135, 207, 255);
                font-size: 17px;
            }
        }
    }
}

/************* Clases **************/
.fondo
{
    background-image:url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 30px 20px 50px;
   
}

.icono
{
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
    @media (max-width: 768px) {
        width: 30px;
        height: 30px;      
    }
}

.borde{
    border: 2px solid rgba(255, 255, 186, 0.737);
    border-radius: 5%;
}

.texto{
    font-size: 20px;
    line-height: 38px;
    @media (max-width: 1024px) {
                font-size: 18px;
                line-height: 26px;
                @media (max-width: 768px){
                    font-size: 16px;
                    line-height: normal;
                    @media (max-width: 480px){
                        font-size:14px;
                    }
                }
            }
}

.ajusteAnchoMedia{
    width: 90%;  
  }
