* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.fuente, p, h3, h2, h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 38px;
  color: rgb(181, 155, 52);
  text-align: center;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) and (max-width: 480px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  font-weight: 800;
  font-size: 30px;
  color: rgb(181, 155, 52);
  text-align: center;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) and (max-width: 480px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-weight: 700;
  font-size: 22px;
  color: rgb(167, 128, 14);
  text-align: center;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) and (max-width: 480px) {
  h3 {
    font-size: 18px;
  }
}

p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
  word-spacing: 4px;
  color: rgb(142, 178, 244);
}
@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  p {
    font-size: 14px;
  }
}

.texto {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: rgb(208, 170, 57);
}
@media (max-width: 1024px) {
  .texto {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .texto {
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 1024px) and (max-width: 768px) and (max-width: 480px) {
  .texto {
    font-size: 14px;
  }
}

.captionTexto {
  font-weight: 500;
  font-size: 16px;
  color: rgb(142, 178, 244);
}

/******** nav ************/
nav {
  background: rgb(1, 6, 10);
  background: linear-gradient(45deg, rgb(1, 6, 10) 50%, rgb(5, 26, 45) 75%, rgb(6, 34, 56) 95%);
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding-left: 0;
}
nav li {
  list-style: none;
  justify-items: flex-start;
  padding: 10px 40px 10px;
}
nav li a {
  text-decoration: none;
  color: rgb(209, 186, 33);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.6s ease-in-out;
}
nav li a:hover {
  font-weight: 800;
  color: rgb(207, 170, 19);
  font-size: 17px;
  text-decoration: underline;
}
nav .icono:hover {
  width: 45px;
  height: 45px;
  border-bottom: 0px;
}
@media (max-width: 768px) {
  nav .icono:hover {
    width: 40px;
    height: 40px;
  }
}

/*********** footer **********************/
footer {
  background: rgb(1, 6, 10);
  background: linear-gradient(45deg, rgb(1, 6, 10) 50%, rgb(5, 26, 45) 75%, rgb(6, 34, 56) 95%);
}
footer ul {
  margin: 0;
  padding: 5px 5px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  footer ul {
    flex-direction: column;
  }
}
footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 10px;
}
footer li a {
  text-decoration: none;
  color: rgb(103, 175, 222);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.4s ease-in-out;
}
footer li a:hover {
  font-weight: 900;
  color: rgb(135, 207, 255);
  font-size: 17px;
}

/************* Clases **************/
.fondo {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px 50px;
}

.icono {
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .icono {
    width: 30px;
    height: 30px;
  }
}

.borde {
  border: 2px solid rgba(255, 255, 186, 0.737);
  border-radius: 5%;
}

.bordeRedondo {
  border: 4px solid rgba(219, 219, 152, 0.737);
  border-radius: 50%;
}

.fondoTexto {
  background: rgb(1, 6, 10);
  background: linear-gradient(315deg, rgb(1, 6, 10) 50%, rgb(5, 26, 45) 75%, rgb(6, 34, 56) 95%);
}

.ajusteAnchoMedia {
  width: 90%;
}

/*********** grid ***********/
.novedadesGrid {
  grid-area: novedades;
}
.novedadesGrid h2 {
  text-align: left;
}

.eventosGrid {
  grid-area: eventos;
}
.eventosGrid h2 {
  text-align: left;
}

.home {
  margin-top: 20px;
  display: grid;
  grid-template-areas: "novedades  " "eventos    ";
  grid-template-columns: 100%;
  gap: 50px;
}

/**************/
.eventos {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .eventos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.novedades {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .novedades {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.caja {
  padding: 10px;
  height: 100%;
  width: 350px;
  border: 1px solid rgba(255, 255, 186, 0.49);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .caja {
    width: 320px;
  }
}
@media (max-width: 1024px) and (max-width: 480px) {
  .caja {
    width: 280px;
  }
}

/************** grilla nuestra historia **************/
.imgHistoria-1 {
  grid-area: img-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .imgHistoria-1 {
    width: 80%;
  }
}

.imgHistoria-2 {
  grid-area: img-2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .imgHistoria-2 {
    width: 80%;
  }
}

.textoHistoria-1 {
  grid-area: texto-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textoHistoria-2 {
  grid-area: texto-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grillaHistoria {
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-areas: "img-1     texto-1" "texto-2   img-2";
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .grillaHistoria {
    grid-template-areas: "img-1      texto-1     texto-1" "texto-2    texto-2     img-2";
    grid-template-columns: 45% auto 45%;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .grillaHistoria {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}

/********************************************/
.tituloHistoria {
  text-align: justify;
  margin-bottom: 30px;
  padding-left: 10px;
}

.imgTipos {
  grid-area: img-tipos;
}
@media (max-width: 768px) {
  .imgTipos {
    width: 80%;
  }
}

.textoTipos1 {
  grid-area: texto-tipos1;
}

.textoTipos2 {
  grid-area: texto-tipos2;
}

.imgCervezas {
  grid-area: img-cervezas;
}
@media (max-width: 768px) {
  .imgCervezas {
    display: none;
  }
}

.cervezaTipos {
  display: grid;
  grid-template-areas: "img-tipos    texto-tipos1      texto-tipos1" "texto-tipos2    texto-tipos2      img-cervezas";
  grid-template-columns: 45% auto 40%;
  align-items: center;
  padding: 30px 50px 30px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .cervezaTipos {
    display: grid;
    grid-template-areas: "img-tipos          texto-tipos1" "texto-tipos2       img-cervezas";
    grid-template-columns: 50% 50%;
    padding: 30px;
    gap: 20px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .cervezaTipos {
    display: flex;
    flex-direction: column;
  }
}

.imgProductos {
  width: 100%;
}

.imgOpacity {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .descripcion {
    display: none;
  }
}
.sucursal {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
@media (max-width: 768px) {
  .sucursal {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

.boxSucursal {
  border: 2px solid rgba(200, 200, 109, 0.877);
  border-radius: 5%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.imgSucursal {
  width: 320px;
  height: 280px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .imgSucursal {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .imgSucursal {
    width: 280px;
    height: 240px;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) and (max-width: 480px) {
  .imgSucursal {
    width: 250px;
    height: auto;
  }
}
@media (max-width: 1024px) and (max-width: 768px) and (max-width: 480px) and (max-width: 320px) {
  .imgSucursal {
    width: 230px;
    height: auto;
  }
}

textarea {
  height: 100px;
}

select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

label {
  color: rgb(147, 176, 223);
  font-weight: bold;
}

.boton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=style.css.map */